.form-send {
  width: clamp(200px, 100%, 600px);
  height: 450px;
  padding: 12px;

  border: 2px solid black;

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 12px;

  background-color: white;

  & form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: space-around;

    & textarea {
      padding: 12px;
      flex: 35%;
      outline: none;
    }

    & button {
      width: 50%;
      padding: 8px 4px;
      background-color: blue;
      color: white;
      flex: 10%;
    }

    & input {
      width: 100%;
      border: 3px solid black;
      height: 32px;
      outline: none;
      border: none;
      border-bottom: 2px solid black;
      padding: 4px;
    }

    & input:focus,
    textarea:focus {
      border: none;
      outline: 2px dotted blue;
    }
  }
}

.file-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 35%;
}

.submit-file {
  display: flex;

  justify-content: center;
  align-items: center;

  gap: 12px;

  flex: 65%;

  & button {
    flex: 15%;
  }

  & .files {
    flex: 85%;
    height: 100%;
    border: 3px solid black;
    position: relative;
    padding: 12px;

    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(24px, 1fr));

    & .file-image {
      width: 24px;
      height: 24px;
    }
  }
}
